<mat-toolbar color="accent">
  <mat-toolbar-row>
    <img src="../assets/cats.png" class="img" routerLink="/home" />
    <span class="barra">LoveCat</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
      routerLink="/home"
      class="barra"
    ></mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
